<mat-card>
  <form [formGroup]="form" (submit)="onSave()">
    <mat-form-field>
      <input matInput type="text" placeholder="Name" formControlName="name" />
    </mat-form-field>

    <mat-form-field>
      <input matInput type="text" placeholder="Price" formControlName="price" />
    </mat-form-field>

    <mat-form-field>
      <input
        matInput
        type="text"
        placeholder="Quantity"
        formControlName="quantity"
      />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Category</mat-label>
      <mat-select form="category">
        <mat-option *ngFor="let category of categories" [value]="category.id">
          {{ category.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <div>
      <button mat-raised-button color="accent" type="submit">
        {{ editMode ? "Update" : "Add" }}
      </button>
    </div>
  </form>
</mat-card>
